extends ../layout 

block content 
    link(rel="stylesheet", href="/css/fish.css")
    script(src="/js/fish.js")
    table.fish 
        thead 
            tr 
                th ISBN 
                th 물고기명
                th 원산지
                th 가격
                th 할인가
                th 설명
        tbody 
            each fish in fishs 
                tr(data-isbn=`${fish.isbn}`)
                    td= fish.isbn 
                    td= fish.name 
                    td= fish.home 
                    td= fish.price 
                    td= fish.discount 
                    td= description